.app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	max-height: 1000px;
}

.wrapper {
	min-height: 90vh;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 16px;
	width: clamp(20rem, 100vw, 81.25rem);
	background-color: #010409;
	color: #bec5cd;
	border-radius: 12px;
	transition: .4s;

	&.hidden {
		grid-template-columns: 0fr 3fr;
	}
}
.burger {
	display: none;
	background: none;
	position: absolute;
	top: calc(20px - 4px);
	left: calc(305px - 0px);
	padding: 0px 0px;
	border: none;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	transition: .4s;
	transform: rotate(-180deg);
	z-index: 100;

	&.hidden {
		left: 0;
		transform: rotate(0deg);
	}

	.burgerImg {
		width: 30px;
		height: 30px;
	}
}

.sidebar {
	height: 100%;
	margin-left: 0;
	max-width: 300px;
	background-color: #0d1117;
	padding:16px 10px 4px 10px;
	border-radius: 12px;
	border-right: 1px solid #21262d;
	box-sizing: border-box;
	transition: .4s;
	opacity: 1;
	visibility: visible;
	
	&.hidden {
		margin-left: -350px;
		opacity: 0;
		visibility: hidden;
	}
}

.userProfile {
	padding: 16px 0px;
}


@media(width < 768px) {
	.burger {
		display: block;
	}

	.wrapper {
		display: block;
	}

	.sidebar {
		max-width: none;
		position: absolute;
		z-index: 10;
	}
}

//* Scrollbar
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: rgb(66, 63, 63);
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(205, 199, 199);
  border-radius: 12px;
}