.wrapper {
	// position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 10px;
}


.head {
	display: flex;
	align-items: center;

	.avatar {
		width: clamp(8.75rem, -2.5rem + 23.44vw, 12.5rem);
		height: clamp(8.75rem, -2.5rem + 23.44vw, 12.5rem);
		object-fit: cover;
		border-radius: 50%;
		background-color: rgb(255, 255, 255);
	}
	
	.info {
		width: 100%;
		padding: 0 clamp(0.625rem, -3.125rem + 7.81vw, 1.875rem);

		.mainInfo {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.name {
				font-size: clamp(1.25rem, 0.682rem + 2.84vw, 2.5rem);
				font-weight: 600;
			}

			.toGithub {
				color: #9570b5;
				text-decoration: none;
				white-space: nowrap;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.login {
			font-size: clamp(1.25rem, 0.5rem + 1.56vw, 1.5rem);
			font-weight: 200;
			color: #737b84;
			font-weight: 100;
			letter-spacing: .1px;
		}
	}
	
}

.body {
	display: flex;
	flex-direction: column;
	gap: clamp(0.375rem, -0.375rem + 1.56vw, 0.625rem);

	.bio {
		white-space: wrap;
		padding: 8px 0px;
		font-size: 20px;
	}

	.followsWrapper {
		display: flex;
		align-items: center;
		padding: 4px 0px;
		
		.followsImg {
			height: 20px;
			padding-right: 4px;
		}
		.separatorImg {
			margin-top: 4px;
			padding: 0px 8px;
			width: 4px;
		}
		
		.followsNumber {
			font-weight: bold;
		}
		.follows {
			display: block;
			font-size: 16px;
		}
	}

	.locationWrapper {

		.locationImg {
			height: 20px;
		}
	}
}
@media(width < 768px) {

	.timer {
		position: absolute;
		left: 10px;
		bottom: 10px;
		z-index: 0;
	}
}